/* Custom fonts */

body {
    background-color: #F5C493;
    font-family: 'Raleway', sans-serif;
}
/* Everything but the jumbotron gets side spacing for mobile first views */

.header, .marketing, .footer {
    padding-left: 15px;
    padding-right: 15px;
}
/* Custom page header */

.header {
    border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */

.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}
/* Custom page footer */

.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}
/* Customize container */

@media (min-width: 768px) {
    .container {
        max-width: 730px;
    }
}
.container-narrow > hr {
    margin: 30px 0;
}
/* Supporting marketing content */

.marketing {
    margin: 40px 0;
}
.marketing p + h4 {
    margin-top: 28px;
}
/* Responsive: Portrait tablets and up */

@media screen and (min-width: 768px) {
    /* Remove the padding we set earlier */
    
    .header, .marketing, .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    
    .jumbotron {
        border-bottom: 0;
    }

    /* Custom circle and line CSS (Moved inside desktop only media query) */
    .circ {
        border-radius: 50%;
        border-style: solid;
        border-color: #E6E6E6;
        border-width: 1px;
        height: 10px;
        max-width: 10px;
    }
    /* TODO: Height for this needs to be adjusted to variable height. */
    .bar {
        border-width: 1px;
        border-color: #E6E6E6;
        border-style: solid;
        height: 55em;
        width: 1px;
    }
}
/* TODO: Compile LESS variable for easier management. */
/* Padding and shadows for main content TODO: (DESKTOP ONLY, needs Mobile OPTIMISE) */

.profile {
    background-color: #FFFFFF;
    box-shadow: 1px 1px 1px 1px #ECEFF2;
    margin: 20px;
}
.profile .row {
    padding-top: 20px;
    padding-bottom: 20px;
}
.greyborder {
    border-width: 1px 0px 1px 0px;
    border-color: #ECEFF2;
    border-style: solid;
    padding-top: 5px;
    padding-bottom: 5px;
}
/* Add some nice padding at the end of each "page" */

.content-padding {
    padding-bottom: 15px;
}
/* Light drop shadow effect */

.drop {
    background-color: #FFFFFF;
    box-shadow: 1px 1px 1px 1px #ECEFF2;
    margin: 0px 0px 20px 0px;
}
/* Ensure that first elements on the page have the same top margin */

.first {
    margin-top: 20px;
}
/* Title of each "card" row section. */

.title {
    border-bottom-width: 1px;
    border-bottom-color: #ECEFF2;
    border-bottom-style: solid;
    padding: 15px 15px;
}
/* Align navbar colour scheme with rest of site */

.navbar {
    background-color: #FFFFFF;
}
.nav_active {
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #40B9EA;
}
/* Add padding for main content items */

.padded {
    padding-top: 1%;
    padding-bottom: 1%;
}
/* Padding to vertically center brand images, bottom padding is for mobile devices so content is spaced*/

.brandimg {
    padding-top: 4%;
    padding-bottom: 20px;
}
/* Paper style design */

.paperstyle {
    margin: 3%;
    box-shadow: 10px 10px 10px 15px #DAAE83;
}
/* Seperate background colour for main container for alternating between default and paperstyle */

.bgcolour {
    background-color: #F5F8F9;
}
/* Minor adjustments to Bootstraps default navbar to remove rounded edges */

.navbar {
    border-radius: 0px;
    border-top: none;
    border-left: none;
    border-right: none;
}
.navbar-nav li {
    border-right-width: 1px;
    border-right-color: #ECEFF2;
    border-right-style: solid;
}
.navbar-header {
    border-right-width: 1px;
    border-right-color: #ECEFF2;
    border-right-style: solid;
}
/* Ugly workaround to Grunt not compiling Google Fonts properly TODO: fix this*/
/* latin */

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: local('Raleway'), url(https://fonts.gstatic.com/s/raleway/v9/WXRs6bFZChfzCx3pXob5o_Y6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}