<div class="row drop first">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12 title">
                <h4>
                    <strong>INTRODUCTION</strong>
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1 text-center">
                <h3>
                    <!-- TODO: this is gross, fix with class on span-->
                    <span class="glyphicon glyphicon-info-sign"></span>
                </h3>
            </div>
            <div class="col-md-11">
                <h3>About</h3>
                <h4>I'm a I.T. professional, entrepreneur and front end developer from Sydney, Australia</h4>
                <p>I'm currently working for
                    <strong><a href="https://crowdflight.firebaseapp.com/#/">Crowdflight</a>
                    </strong>as their head of Tech and front end developer. I also created and currently manage
                    <strong><a href="www.betcraft.gg">Betcraft</a>
                    </strong>an online tipping platform for eSports. I have a passion for all things new and innovative in technology and gaming as well as rock climbing and skiing.</p>
            </div>
        </div>
    </div>
</div>

<div class="row drop">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12 title">
                <h4>
                    <strong>EXPERIENCE</strong>
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1 text-center">
                <div class="row">
                    <h3>
                        <span class="glyphicon glyphicon-globe"></span>
                    </h3>
                </div>
                <div class="row">
                    <!-- TODO: Line graphic here -->
                    <!-- PSEUDO: Top and bottom aligned CSS circles with right grey border for line,  -->
                </div>
            </div>
            <div class="col-md-11">
                <!-- Crowdflight info -->
                <div class="row ">
                    <div class="col-md-10 padded">
                        <h4><a href="https://crowdflight.firebaseapp.com/#/">Crowdflight</a>
                        </h4>
                        <h4>
                            <small>2014-Current</small>
                        </h4>
                        <p>I'm currently developing Crowdflight, a platform designed to utilise passengers spare time while inflight to crowdsource markting insights through surveys. The final product must utilise the latest in web development technologies to allow asynchonous access to Crowdflight surveys regardless of your connection status.</p>
                        <strong>Role:</strong>
                        <p>Front End Developer (HTML5/CSS3/JavaScript)</p>
                    </div>
                    <div class="col-md-2 brandimg">
                        <a class="" href="#">
                            <img class="img-rounded center-block" alt="Brand" src="https://unsplash.it/103/89/?blur">
                        </a>
                    </div>
                </div>
                <!-- Betcraft info -->
                <div class="row ">
                    <div class="col-md-10 padded">
                        <h4><a href="www.betcraft.gg">Betcraft</a>
                        </h4>
                        <h4>
                            <small>2011 - Current</small>
                        </h4>
                        <p>Betcraft is a tipping platform created to give eSports event sponsors a way to engage their users prior to, during and after big events as well as giving eSports viewers a chance to be rewarded for their passion and loyalty to eSports and their favorite teams.</p>
                        <strong>Role:</strong>
                        <p>Founder and Managing Director</p>
                    </div>
                    <div class="col-md-2 brandimg">
                        <a class="" href="#">
                            <img class="img-rounded center-block" alt="Brand" src="https://unsplash.it/103/89/?blur">
                        </a>
                    </div>
                </div>
                <!-- Consulting info -->
                <div class="row">
                    <div class="col-md-10 padded">
                        <h4>I.T. Consultancy</h4>
                        <h4>
                            <small>2009 - 2011</small>
                        </h4>
                        <p>I've worked as an I.T. Consultant for some of Australia's largest companies, assisting major IT infrastructure moving and redeployment projects between BT and CBA as well as building reporting tools for Colonial First State.</p>
                        <strong>Role:</strong>
                        <p>Business Analyst and Developer</p>
                    </div>
                    <div class="col-md-2 brandimg">
                        <a class="" href="#">
                            <img class="img-rounded center-block" alt="Brand" src="https://unsplash.it/103/89/?blur">
                        </a>
                    </div>
                </div>
                <!-- CBA info -->
                <div class="row">
                    <div class="col-md-10 padded">
                        <h4>CBA</h4>
                        <h4>
                            <small>2008 - 2010</small>
                        </h4>
                        <p>Working as a first and second level system analyst supporting CBA in house software platform CommSee focusing on Home and Business lending solutions. Also performed roles as a Business Analyst developing enhancements to the CommSee platform.</p>
                        <strong>Role:</strong>
                        <p>System Analyst</p>
                    </div>
                    <div class="col-md-2 brandimg">
                        <a class="" href="#">
                            <img class="img-rounded center-block" alt="Brand" src="https://unsplash.it/103/89/?blur">
                        </a>
                    </div>
                </div>
                <!-- Previous work -->
                <div class="row">
                    <div class="col-md-10 padded">
                        <h4>Previous</h4>
                        <h4>
                            <small>2000 - 2008</small>
                        </h4>
                        <ul>
                            <li>Painter: Service Painting</li>
                            <li>Bartender: Balgowlah RSL</li>
                            <li>Sailing Instructor: Northside Sailing School</li>
                        </ul>
                    </div>
                    <div class="col-md-2 brandimg">
                        <a class="" href="#">
                            <img class="img-rounded center-block" alt="Brand" src="https://unsplash.it/103/89/?blur">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row drop first">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12 title">
                <h4>
                    <strong>SHOWCASE</strong>
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1 text-center">
                <h3>
                    <!-- TODO: this is gross, fix with class on span-->
                    <span class="glyphicon glyphicon-picture"></span>
                </h3>
            </div>
            <div class="col-md-11">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <img src="https://unsplash.it/300/300" alt="images/thumbnail.svg">
                            <div class="caption">
                                <h3>Thumbnail label</h3>
                                <p>...</p>
                                <p><a href="#" class="btn btn-primary" role="button">Button</a>  <a href="#" class="btn btn-default" role="button">Button</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <img src="https://unsplash.it/300/300" alt="images/thumbnail.svg">
                            <div class="caption">
                                <h3>Thumbnail label</h3>
                                <p>...</p>
                                <p><a href="#" class="btn btn-primary" role="button">Button</a>  <a href="#" class="btn btn-default" role="button">Button</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <img src="https://unsplash.it/300/300" alt="images/thumbnail.svg">
                            <div class="caption">
                                <h3>Thumbnail label</h3>
                                <p>...</p>
                                <p><a href="#" class="btn btn-primary" role="button">Button</a>  <a href="#" class="btn btn-default" role="button">Button</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row drop first">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12 title">
                <h4>
                    <strong>SKILLS</strong>
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1 text-center">
                <h3>
                    <!-- TODO: this is gross, fix with class on span-->
                    <span class="glyphicon glyphicon-th-list"></span>
                </h3>
            </div>
            <div class="col-md-11">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi mollis augue in est auctor vulputate. Phasellus eget tempus leo, non molestie ex. Pellentesque a aliquam lorem. Nunc dapibus efficitur arcu quis porttitor. Donec quis velit magna. Nam sit amet ipsum nisl. Nulla commodo consectetur elit a aliquet. Donec ipsum augue, commodo nec tristique eget, ullamcorper vitae ligula. Nullam eget urna sodales, ultrices felis vel, tristique nunc.</p>
                <p>Aenean tristique elit enim, eu dictum nunc egestas nec. Vestibulum tempus nibh vel mauris ultrices, non mattis nunc pretium. Duis sapien risus, consectetur et velit sed, iaculis molestie nulla. Nunc interdum, sapien quis imperdiet congue, ligula enim pharetra dui, sit amet pellentesque enim purus a mi. Cras eu tortor quis mi tincidunt luctus vel a sapien. Maecenas feugiat ipsum ex. Fusce varius id dui eget dictum. Pellentesque posuere urna odio, ultrices facilisis magna tristique in. Nunc pretium, orci id iaculis viverra, leo erat commodo sapien, sed commodo purus nulla vel justo. Curabitur eget venenatis lectus.</p>
            </div>
        </div>
    </div>
</div>
