<div class="row drop first">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12 title">
                <h4>
                    <strong>INTRODUCTION</strong>
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1 text-center">
                <h3>
                    <!-- TODO: this is gross, fix with class on span-->
                    <span class="glyphicon glyphicon-info-sign"></span>
                </h3>
            </div>
            <div class="col-md-11">
                <h3>About</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi mollis augue in est auctor vulputate. Phasellus eget tempus leo, non molestie ex. Pellentesque a aliquam lorem. Nunc dapibus efficitur arcu quis porttitor. Donec quis velit magna. Nam sit amet ipsum nisl. Nulla commodo consectetur elit a aliquet. Donec ipsum augue, commodo nec tristique eget, ullamcorper vitae ligula. Nullam eget urna sodales, ultrices felis vel, tristique nunc.</p>
                <p>Aenean tristique elit enim, eu dictum nunc egestas nec. Vestibulum tempus nibh vel mauris ultrices, non mattis nunc pretium. Duis sapien risus, consectetur et velit sed, iaculis molestie nulla. Nunc interdum, sapien quis imperdiet congue, ligula enim pharetra dui, sit amet pellentesque enim purus a mi. Cras eu tortor quis mi tincidunt luctus vel a sapien. Maecenas feugiat ipsum ex. Fusce varius id dui eget dictum. Pellentesque posuere urna odio, ultrices facilisis magna tristique in. Nunc pretium, orci id iaculis viverra, leo erat commodo sapien, sed commodo purus nulla vel justo. Curabitur eget venenatis lectus.</p>
            </div>
        </div>
    </div>
</div>

<div class="row drop">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12 title">
                <h4>
                    <strong>EXPERIENCE</strong>
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1 text-center">
                <div class="row">
                    <h3>
                        <span class="glyphicon glyphicon-globe"></span>
                    </h3>
                </div>
                <div class="row">
                    <!-- TODO: Line graphic here -->
                    <!-- PSEUDO: Top and bottom aligned CSS circles with right grey border for line,  -->
                </div>
            </div>
            <div class="col-md-11">
                <!-- Betcraft info -->
                <div class="row ">
                    <div class="col-md-10 padded">
                        <h4>Betcraft</h4>
                        <h4>
                            <small>2011 - Current</small>
                        </h4>
                        <p>Aenean tristique elit enim, eu dictum nunc egestas nec. Vestibulum tempus nibh vel mauris ultrices, non mattis nunc pretium. Duis sapien risus, consectetur et velit sed, iaculis molestie nulla. Nunc interdum, sapien quis imperdiet congue, ligula enim pharetra dui, sit amet pellentesque enim purus a mi.</p>
                    </div>
                    <div class="col-md-2 brandimg">
                        <a class="" href="#">
                            <img class="img-rounded center-block" alt="Brand" src="https://unsplash.it/103/89/?blur">
                        </a>
                    </div>
                </div>
                <!-- Freelance info -->
                <div class="row">
                    <div class="col-md-10 padded">
                        <h4>Freelance</h4>
                        <h4>
                            <small>2009 - Current</small>
                        </h4>
                        <p>Aenean tristique elit enim, eu dictum nunc egestas nec. Vestibulum tempus nibh vel mauris ultrices, non mattis nunc pretium. Duis sapien risus, consectetur et velit sed, iaculis molestie nulla. Nunc interdum, sapien quis imperdiet congue, ligula enim pharetra dui, sit amet pellentesque enim purus a mi.</p>
                    </div>
                    <div class="col-md-2 brandimg">
                        <a class="" href="#">
                            <img class="img-rounded center-block" alt="Brand" src="https://unsplash.it/103/89/?blur">
                        </a>
                    </div>
                </div>
                <!-- CBA info -->
                <div class="row">
                    <div class="col-md-10 padded">
                        <h4>CBA</h4>
                        <h4>
                            <small>2008 - 2010</small>
                        </h4>
                        <p>Aenean tristique elit enim, eu dictum nunc egestas nec. Vestibulum tempus nibh vel mauris ultrices, non mattis nunc pretium. Duis sapien risus, consectetur et velit sed, iaculis molestie nulla. Nunc interdum, sapien quis imperdiet congue, ligula enim pharetra dui, sit amet pellentesque enim purus a mi.</p>
                    </div>
                    <div class="col-md-2 brandimg">
                        <a class="" href="#">
                            <img class="img-rounded center-block" alt="Brand" src="https://unsplash.it/103/89/?blur">
                        </a>
                    </div>
                </div>
                <!-- Previous work -->
                <div class="row">
                    <div class="col-md-10 padded">
                        <h4>Previous</h4>
                        <h4>
                            <small>2000 - 2008</small>
                        </h4>
                        <p>Aenean tristique elit enim, eu dictum nunc egestas nec. Vestibulum tempus nibh vel mauris ultrices, non mattis nunc pretium. Duis sapien risus, consectetur et velit sed, iaculis molestie nulla. Nunc interdum, sapien quis imperdiet congue, ligula enim pharetra dui, sit amet pellentesque enim purus a mi.</p>
                    </div>
                    <div class="col-md-2 brandimg">
                        <a class="" href="#">
                            <img class="img-rounded center-block" alt="Brand" src="https://unsplash.it/103/89/?blur">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row drop first">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12 title">
                <h4>
                    <strong>SHOWCASE</strong>
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1 text-center">
                <h3>
                    <!-- TODO: this is gross, fix with class on span-->
                    <span class="glyphicon glyphicon-picture"></span>
                </h3>
            </div>
            <div class="col-md-11">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi mollis augue in est auctor vulputate. Phasellus eget tempus leo, non molestie ex. Pellentesque a aliquam lorem. Nunc dapibus efficitur arcu quis porttitor. Donec quis velit magna. Nam sit amet ipsum nisl. Nulla commodo consectetur elit a aliquet. Donec ipsum augue, commodo nec tristique eget, ullamcorper vitae ligula. Nullam eget urna sodales, ultrices felis vel, tristique nunc.</p>
                <p>Aenean tristique elit enim, eu dictum nunc egestas nec. Vestibulum tempus nibh vel mauris ultrices, non mattis nunc pretium. Duis sapien risus, consectetur et velit sed, iaculis molestie nulla. Nunc interdum, sapien quis imperdiet congue, ligula enim pharetra dui, sit amet pellentesque enim purus a mi. Cras eu tortor quis mi tincidunt luctus vel a sapien. Maecenas feugiat ipsum ex. Fusce varius id dui eget dictum. Pellentesque posuere urna odio, ultrices facilisis magna tristique in. Nunc pretium, orci id iaculis viverra, leo erat commodo sapien, sed commodo purus nulla vel justo. Curabitur eget venenatis lectus.</p>
            </div>
        </div>
    </div>
</div>

<div class="row drop first">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12 title">
                <h4>
                    <strong>SKILLS</strong>
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1 text-center">
                <h3>
                    <!-- TODO: this is gross, fix with class on span-->
                    <span class="glyphicon glyphicon-th-list"></span>
                </h3>
            </div>
            <div class="col-md-11">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi mollis augue in est auctor vulputate. Phasellus eget tempus leo, non molestie ex. Pellentesque a aliquam lorem. Nunc dapibus efficitur arcu quis porttitor. Donec quis velit magna. Nam sit amet ipsum nisl. Nulla commodo consectetur elit a aliquet. Donec ipsum augue, commodo nec tristique eget, ullamcorper vitae ligula. Nullam eget urna sodales, ultrices felis vel, tristique nunc.</p>
                <p>Aenean tristique elit enim, eu dictum nunc egestas nec. Vestibulum tempus nibh vel mauris ultrices, non mattis nunc pretium. Duis sapien risus, consectetur et velit sed, iaculis molestie nulla. Nunc interdum, sapien quis imperdiet congue, ligula enim pharetra dui, sit amet pellentesque enim purus a mi. Cras eu tortor quis mi tincidunt luctus vel a sapien. Maecenas feugiat ipsum ex. Fusce varius id dui eget dictum. Pellentesque posuere urna odio, ultrices facilisis magna tristique in. Nunc pretium, orci id iaculis viverra, leo erat commodo sapien, sed commodo purus nulla vel justo. Curabitur eget venenatis lectus.</p>
            </div>
        </div>
    </div>
</div>
